@import "tailwindcss";




@font-face {
    font-family: "DogicaPixel";
    src: url("./fonts/dogicapixel.ttf") format("truetype");
    font-weight: normal;
    font-display: block
}

@font-face { 
    font-family: "PixelOperator";
    src: url("./fonts/PixelOperator.ttf") format("truetype");
    font-weight: normal;
    font-display: block;
}

@theme {
    --font-pixel: "PixelOperator";
    --font-dogica: "DogicaPixel";
    --font-tiny: "Tiny5";
}