.SetListContent {
	overflow: hidden;
}

.SetListContent[data-state="open"] {
	animation: slideDown 500ms ease-out;
}

.SetListContent[data-state="closed"] {
	animation: slideUp 500ms ease-out;
}

.SetListItemButton > button {
  transition: transform 500ms ease-out;
}

.SetListItemButton[data-state="open"] > button {
  transform: rotate(180deg);
}

.SetListItemButton[data-state="closed"] > button {
  transform: rotate(0deg);
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}